body {
    font-family: Arial, sans-serif;
}

nav {
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
}

ul.navlist {
    display: flex;
    border: 1px solid black;
    width: auto;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    cursor: pointer;
}

li {
    margin: 20px;
}

/* .popups {
  position: fixed;
  width: 500px;
  height: 500px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px red;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
} */



.popups {
   
    border: 1px dashed black;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    visibility: hidden;
    position: relative;
   
  }

.popups:target {
    visibility: visible;
    opacity: 1;
  }



img.popimg {
  width: 50px;
}



